$recipe1bg: "/task02/images/recipe1bg.png";
$recipe2bg: "/task02/images/recipe2bg.png";
$recipe2bg2: "/task02/images/recipe2bg2.png";
$recipe3bg: "/task02/images/recipe3bg.png";
$bg-size-desktop: 15rem;
$bg-size-mobile: 12rem;

@mixin decorative-bg(
  $url,
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto,
  $size: auto
) {
  content: "";
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: $size;
  height: $size;
  background: url($url) no-repeat center;
  background-size: contain;
  z-index: 0;
}

html {
  overflow-x: hidden;
}
body {
  margin: 4rem auto;
  text-align: center;
  overflow-x: hidden;
}
h1,
h2,
p,
a {
  margin: 0;
}
a {
  font-weight: bold;
  color: black;
}
.container {
  display: grid;
  gap: 4rem;
  margin: 0 auto;
  max-width: 90rem;
}
.intro-section {
  display: grid;
  gap: 1rem;
}
.recipes-section {
  display: grid;
  grid-auto-flow: column;
}
.recipe {
  position: relative;
  &__image {
    margin-bottom: 2rem;
    position: relative;
    border-radius: 50%;
    z-index: 1;
  }
  &--01::before {
    @include decorative-bg(
      $recipe1bg,
      -4rem,
      auto,
      auto,
      -2rem,
      $bg-size-desktop
    );
  }

  &--02::after {
    @include decorative-bg(
      $recipe2bg,
      -4.5rem,
      0.5rem,
      auto,
      auto,
      $bg-size-desktop
    );
  }

  &--02::before {
    @include decorative-bg(
      $recipe2bg2,
      auto,
      auto,
      -1rem,
      -2rem,
      $bg-size-desktop
    );
  }
  &--03::before {
    @include decorative-bg(
      $recipe3bg,
      auto,
      -1.75rem,
      -1rem,
      auto,
      $bg-size-desktop
    );
  }
}

@media (max-width: 90rem) {
  .container {
    max-width: 19rem;
    margin: 0 auto;
  }
  .recipes-section {
    grid-auto-flow: row;
    gap: 4rem;
  }
  .recipe {
    &__image {
      max-width: 19rem;
      max-height: 19rem;
    }

    &--01::before {
      @include decorative-bg(
        $recipe1bg,
        -4rem,
        auto,
        auto,
        -3.5rem,
        $bg-size-mobile
      );
    }
    &--02::after {
      @include decorative-bg(
        $recipe2bg,
        -3.5rem,
        -2.8rem,
        auto,
        auto,
        $bg-size-mobile
      );
    }
    &--02::before {
      @include decorative-bg(
        $recipe2bg2,
        auto,
        auto,
        1rem,
        -4rem,
        $bg-size-mobile
      );
    }
    &--03::before {
      @include decorative-bg(
        $recipe3bg,
        auto,
        -2.5rem,
        1.2rem,
        auto,
        $bg-size-mobile
      );
    }
  }
}
